@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
  font-family: 'Noto Sans', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding3 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #D8E3D3;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section {
  background-color: #ffffff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #60be74;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar-brand:hover{
  color: #60be74;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item .nav-link i {
  margin-right: 5px;
}

.custom_nav-container .navbar-nav .nav-item .nav-link svg {
  width: 20px;
  height: auto;
  fill: #ffffff;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #60be74;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link svg {
  fill: #ff5b7d;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #ff5b7d;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #000000;
}

.slider_section .detail-box h1 {
  margin-bottom: 15px;
  font-weight: bold;
}

.slider_section .detail-box h1 span {
  color: #60be74;
}

.slider_section .detail-box p {
  text-align: justify;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 55px;
  background-color: #60be74;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #60be74;
  text-transform: uppercase;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: transparent;
  color: #60be74;
}

.slider_section .img-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_section .img-box img {
  width: 80%;
  float: right;
}

.slider_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -75px;
}

.slider_section .carousel_btn-box a {
  position: unset;
  width: 45px;
  height: 45px;
  opacity: 1;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 100%;
  background: #02ccc0;
  margin-right: 5px;
}

.slider_section .carousel_btn-box .carousel-control-prev {
  left: 25px;
}

.slider_section .carousel_btn-box .carousel-control-next {
  right: 25px;
}

.about_section{
  background-color: #EDEDED;
}

.about_section h1{
  text-align: center;
  font-weight: bold;
}

.about_section h1 span{
  color: #60be74;
}

.about_section p span{
  font-weight: bold;
  color: #60be74;
}

.about_section .detail-box p{
  text-align: justify;
}

.about_section .img-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section form button {
  display: inline-block;
  padding: 10px 55px;
  background-color: #60be74;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #60be74;
  text-transform: uppercase;
}

.about_section form button:hover {
  background-color: transparent;
  color: #60be74;
}

.about_section form button:focus {
  outline: none;
}

.about_section form .form-control{
  border-radius: 15px;
  height: 60px;
}

.about_section form .form-control:focus {
  outline: none;
  border: 2px solid #60be74;
  box-shadow: none
}

.hasil-diagnosis{
  margin-top: 50px;
}

.hasil-diagnosis #isi-diagnosis{
  border-left: 1px solid #60be74;
  border-right: 1px solid #60be74;
  border-top: 1px solid #60be74;
}

.fruits_section {
  position: relative;
  background: #EDEDED;
  color: #000000;
}


.fruits_section .box {
  text-align: center;
  border-radius: 15px;
  border: 2px solid #60be74;
  height: 420px;
}

.fruits_section h1{
  font-weight: 600;
}

.fruits_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 2px solid #60be74;
  height: 275px;
  padding: 45px 25px;
}

.fruits_section .box .img-box img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.fruits_section .box .detail-box {
  padding: 15px;
}

.fruits_section .box .detail-box h4 {
  font-weight: 600;
}

.fruits_section .box .detail-box .new_price {
  font-weight: 600;
  font-size: 1.5em;
  color: #60be74;
}

.fruits_section .box .detail-box .old_price {
  text-decoration: line-through;
  color: #cccccc;
}

.fruits_section .box .detail-box p {
  font-size: 15px;
  margin-bottom: 20px;
}

.fruits_section .box .detail-box a {
  display: inline-block;
  padding: 5px 25px;
  background-color: #ffffff;
  color: #60be74;
  border-radius: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid #60be74;
  text-transform: uppercase;
  font-weight: bold;
}

.fruits_section .box .detail-box a:hover {
  background-color: #60be74;
  color: #ffffff;
}

.fruits_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.fruits_section .btn-box a {
  display: inline-block;
  padding: 10px 60px;
  background-color: #60be74;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #60be74;
  text-transform: uppercase;
}

.fruits_section .btn-box a:hover {
  background-color: transparent;
  color: #60be74;
}

.fruits_section .owl-carousel {
  position: unset;
}

.fruits_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fruits_section .owl-carousel .owl-nav button.owl-next,
.fruits_section .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  width: 55px;
  height: 40px;
  margin: 3px 0;
  border-radius: 10px;
  outline: none;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #60be74;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fruits_section .owl-carousel .owl-nav button.owl-next:hover,
.fruits_section .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #ffffff;
  color: #60be74;
  border: 1px solid #60be74;
}

.fruits_section .owl-carousel .owl-nav button.owl-prev {
  left: 15px;
}

.fruits_section .owl-carousel .owl-nav button.owl-next {
  right: 15px;
}

.fruits_section .owl-carousel .owl-dots {
  display: none;
}

.fruits_section .search-container{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fruits_section .search-container input{
  padding: 10px 20px;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #ced4da;
}

.fruits_section .search-container input:focus{
  outline: none;
  border: 2px solid #60be74;
}

.fruits_section .search-container button{
  border: none;
  padding: 10px 20px;
  background-color: #60be74;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: white;
  border: 1px solid #60be74;
}

.fruits_section .search-container button:hover{
  background-color: transparent;
  color: #60be74;
  border: 1px solid #60be74;
}

.fruits_section .search-container button:focus{
  outline: none;
  border: 1px solid #60be74;
}



/* info section */
.info_section {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  border-top:1px solid #EDEDED;
}

.info_section p {
  text-align: justify;
}

.info_section .social_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.info_section .social_container .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .social_container .social_box a {
  margin-right: 10px;
  color: #000000;
  font-size: 24px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.info_section .info_form form button  {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ff5b7d;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #ff5b7d;
  text-transform: uppercase;
}

.info_section .info_form form button:hover {
  background-color: transparent;
  color: #ff5b7d;
}

.info_section .row > div {
  margin-top: 25px;
}

.info_section a {
  text-transform: none;
}

.info_section h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}

.info_section .info_link-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  color: #000000;
}

.info_section .info_link-box a:hover {
  color: #60be74;
}

.info_section .info_link-box a i {
  color: #000000;
  margin-right: 15px;
  font-size: 18px;
}

.info_section .tautan-cepat a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  color: #000000;
}

.info_section .tautan-cepat a i {
  color: #000000;
  margin-right: 15px;
  font-size: 18px;
}

.info_section .tautan-cepat a:hover {
  color: #60be74;
}

/* end info section */

#isi-diagnosis{
  background-color: #ffffff;
  padding: 20px 40px;
  border: none;
  border-top-left-radius: 20px;
  overflow: auto; 
  height: 300px;
}

.cr-gpt{
  background-color: #60be74;
  padding: 20px 40px;
  border: none;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.detail-produk .img-box{
  background-color: #ffffff;
  border: 2px solid #60be74;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-produk .img-box img{
  width: 50%;
}

.about_section{
  background-color: #FFFFFF;
}

.about_section .detail-obat{
  padding: 20px;
  text-align: justify;
}

.about_section .detail-obat h1, h2{
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.about_section .detail-obat h2{
  color: #60be74;
}

.about_section .detail-obat a {
  display: inline-block;
  padding: 5px 25px;
  background-color: #ffffff;
  color: #60be74;
  border-radius: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid #60be74;
  text-transform: uppercase;
  font-weight: bold;
}

.about_section .detail-obat a:hover {
  color: #ffffff;
  background-color: #60be74;
}

.about_section .detail-obat p{
  margin: 20px 0;
}

.total-obat input[type=number]{
  padding: 5px 5px 5px 15px; 
  width: 80px;
  height: 40px;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
  float: right;
  border: 2px solid #60be74;
}

.total-obat input[type=number]:focus{
  outline: none;
  border: 2px solid #60be74;
}

.detail-produk input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: 35px;
    width: 35px;
}

.metode-pembayaran{
  margin-top: 20px;
  padding: 5px 5px 5px 15px; 
  width: 100%;
  height: 40px;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
  color: #495057;
  border: 2px solid #60be74;
  background-color: white;
}

.metode-pembayaran:focus{
  outline: none;
  border: 2px solid #60be74;
}

.login-signup{
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-signup .login{
  padding: 9px 30px;
  width: 120px;
  border-top: 1px solid #60be74;
  border-left: 1px solid #60be74;
  border-right: 1px solid #60be74;
  border-bottom: 1px solid #60be74;
  text-decoration: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #60be74;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.login-signup .signup{
  padding: 9px 30px;
  width: 120px;
  border-top: 1px solid #60be74;
  border-right: 1px solid #60be74;
  border-bottom: 1px solid #60be74;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #60be74;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.login-signup .login:hover{
  background-color: #60be74;
  color: #FFFFFF;
}

.login-signup .signup:hover{
  background-color: #60be74;
  color: #FFFFFF;
}

/* Login Signup Pages */
.login-signup-page .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box{
  background-color: #FFFFFF;
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); */
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 600px;
}

.login-box .box-atas{
  background-color: #60be74;
  border: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #FFFFFF;
  padding: 20px 25px;
}

.login-box .box-bawah{
  height: 400px;
  padding: 50px;
}

.login-box .box-bawah form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login-box .box-bawah input[type=text], input[type=password], input[type=number]{
  padding: 10px 20px;
  width: 30%;
  border: 1px solid #60be74;
  border-radius: 20px;
}

.login-box .box-bawah input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  outline: none;
}

.login-box .box-bawah button{
  width: 30%;
}

.login-box .box-bawah p{
  color: #a1a1a1;
}

.login-box .box-bawah a{
  color: #60be74;
}

.login-box .box-bawah a:hover{
  font-weight: bold;
}

.login-box{
  border: 1px solid #60be74;
}

.account-page #signout{
  display: inline-block;
  padding: 10px 55px;
  background-color: #e94040;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #e94040;
  text-transform: uppercase;
  font-weight: bold;
}

.account-page #signout:hover{
  background-color: transparent;
  color: #e94040;
}

.account-page #edit{
  display: inline-block;
  padding: 10px 55px;
  background-color: #60be74;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #60be74;
  text-transform: uppercase;
  font-weight: bold;
}

.account-page #edit:hover{
  background-color: transparent;
  color: #60be74;
}

.akun{
  display: flex;
  justify-content: center;
  align-items: center;
}

.akun a{
  background-color: #60be74;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

/* Modal Produk */
/* Style untuk modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  position: relative;
}

@media (max-width: 1024px) {
  .modal-content {
    margin: 30% auto;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal button[type='submit']{
  display: inline-block;
  padding: 5px 25px;
  background-color: #ffffff;
  color: #60be74;
  border-radius: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid #60be74;
  text-transform: uppercase;
  font-weight: bold;
}

.modal button[type='submit']:hover{
  background-color: #60be74;
  color: #ffffff;
}

.modal button[type='button'] {
  display: inline-block;
  padding: 5px 25px;
  background-color: #ffffff;
  color: #e94040;
  border-radius: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid #e94040;
  text-transform: uppercase;
  font-weight: bold;
}

.modal button[type='button']:hover {
  background-color: #e94040;
  color: #ffffff;
}


/* footer section*/

.footer_section p {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.footer_section p a {
  color: inherit;
}

/* end footer section*/